#!/bin/bash

geoips run single_source {{ file_path }} \
    --reader_name clavrx_hdf4 \
    --product_name {{ product_name }} \
    --output_formatter {{ output_type }} \
    --minimum_coverage 0 \
    --filename_formatter_kwargs '{"basedir": "/home/erose/geoips/geoips_packages/outdirs/preprocessed/{{ outdir_type }}/"}' \
    --sector_list {{ sector }}
retval=$?

exit $retval
