#!/bin/bash

for lvl in {0..40}
do
    geoips run single_source {{ file_path }} \
        --reader_name georing_netcdf \
        --product_name {{ product_name }} \
        --output_formatter {{ output_type }} \
        --filename_formatter ov_geoips_fname \
        --resampled_read \
        --sector_list {{ sector }} \
        --no_presectoring \
        --logging_level info \
        --minimum_coverage 0 \
        --product_spec_override '{"{{ product_name }}": {"algorithm": {"plugin": {"name": "slice", "arguments": {"level": '"${lvl}"'}}}}}' \
        --output_formatter_kwargs '{"title_formatter": "georing_3d_cloud_type", "level": '"${lvl}"'}' \
        --filename_formatter_kwargs '{"basedir": "/home/erose/geoips/geoips_packages/outdirs/preprocessed/{{ outdir_type }}/", "level": '"${lvl}"'}'
    retval=$?
done

exit $retval
